.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px 0px;
    background-color: #414142;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-items: center;
}

hr {
    border: none;
    width: auto;
    margin: 0.12rem;
    border-radius: 3px;
}
